body {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
}

.brand {
	font-size: 30px;
	line-height: 1;
	color: #444;
	border-radius: 4px;
}

.brand:hover {
	color: #666;
	text-decoration: none;
}

h3 {
	margin-top: 20px;
	padding: 20px;
	background: #444;
	font-size: 18px;
	line-height: 1;
	color: #fac200;
	border-radius: 4px;
}

h3 button {
	margin-top: -5px;
}

a#github-link {
	margin-top: -3px;
	margin-right: -3px;
}